{% load static %}
{{ ckeditor.load }}
{% block content %}
{% include "header.html" %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/edit-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>New Post</h1>
            <span class="subheading">You're going to make a great blog post!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">Create New Post</legend>
            {{ form.as_p }}
          </fieldset>
          <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% include "footer.html" %}
{% endblock %}
